.comment-container {
  max-width: 500px;
  max-height: 200px;
  word-break: break-all;
  overflow: auto;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 60px;
}

.file-type {
  display: inline-block;
  background: green;
  height: 18px;
  line-height: 18px;
  font-size: 10px;
  font-weight: 600;
  padding: 0 8px;
  color: #fff;
  border-radius: 20px;
}
