.c-layout {
  .card-image {
    background-size: cover;
  }
  .card-text-layout {
    .card-title {
      width: calc(100% - 20px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      cursor: default;
    }
  }

  .more-icon {
    opacity: 0;

    .project-more-menu {
      position: absolute;
      z-index: 20;
    }
  }

  &:hover {
    .more-icon {
      opacity: 1;
      cursor: pointer;
    }
  }
  &[selected] {
    background: rgb(232, 240, 254);
    .card-title {
      color: rgb(23, 110, 210);
    }
    .card-title-supervisor {
      color: rgb(23, 110, 210);
    }
  }
}
