.c-layout {
  transition: box-shadow 0.3;

  .bookmark-outer {
    background: #fff;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color .3s;

    &:hover {
      background: #f0f0f0;
    }
  }


  .bookmark {
    opacity: 0;

    &[bookmarked] {
      color: #2196F3;
      opacity: 1;
    }

  }

  &:hover {
    transform: translate(0, -5px);

    .bookmark {
      opacity: 1;
    }

  }

  .card-image {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    .more-icon {
      opacity: 0;
      float: right;

      .project-more-menu {
        position: absolute;
        z-index: 20;
      }
    }

    &:hover {
      .more-icon {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  .card-title-layout {

    .card-title {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      font-weight: bold;
      height: 21px;
    }

    &:hover {
      cursor: default;
    }
  }

  &[selected] {
    .card-title-layout {
      background: rgb(232, 240, 254);
    }

    .card-title {
      color: rgb(23, 110, 210);
    }

    .card-title-supervisor {
      color: rgb(23, 110, 210);
    }
  }
}