.content-toolbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 32px;

  .content-title {
    width: fit-content;
    font-size: 24px;
    font-weight: bold;
  }
  .show-more-button {
    &:hover {
      cursor: pointer;
    }
  }

  .searchbar {
    width: 600px;
    height: 40px;
    padding-left: 12px;
  }
}

.content-filter {
  display: flex;
  height: 30px;
  padding-right: 60px;
  float: right;

  .filter-menu {
    &:hover {
      cursor: pointer;
    }

    &[selected] {
      color: rgb(23, 110, 210);
      font-weight: bold;
    }
  }
}
.pin-project-container {
  .content-layout {
    align-content: flex-start;
    width: 100%;
    transition: height 0.3s;

    &[show] {
      height: 345px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
