@import '@/style/lib.scss';

.content-toolbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .content-title {
    width: fit-content;
    font-size: 24px;
    font-weight: bold;
  }

  .show-more-button {
    &:hover {
      cursor: pointer;
    }
  }

  .searchbar {
    width: 600px;
    height: 40px;
    padding-left: 12px;
  }
}

.content-filter {
  display: flex;
  height: 30px;
  padding-right: 60px;
  float: right;

  .filter-menu {
    &:hover {
      cursor: pointer;
    }

    &[selected] {
      color: rgb(23, 110, 210);
      font-weight: bold;
    }
  }
}

.content-layout {
  align-content: flex-start;
  width: 100%;
  transition: height 0.3s;

  &[show] {
    height: 295px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  // @include screen-xl {
  //   max-height: 16vw;
  //   min-height: 14vw;
  // }

  // @include screen-lg {
  //   max-height: 20vw;
  //   min-height: 18vw;
  // }

  // @include screen-md {
  //   max-height: 26vw;
  //   min-height: 24vw;
  // }

  // @include screen-sm {
  //   max-height: 36vw;
  //   min-height: 34vw;
  // }

  // @include screen-xs {
  //   max-height: 45vw;
  //   min-height: 44vw;
  // }

  .project-card-container {
    @include screen-xl {
      height: 16vw;
      padding: 32px;
    }

    @include screen-lg {
      height: 18vw;
      padding: 32px;
      min-height: 260px;
    }

    @include screen-md {
      height: 23vw;
      padding: 32px;
    }

    @include screen-sm {
      height: 33vw;
      padding: 32px;
    }

    @include screen-xs {
      padding: 24px;
      height: 50vw;
    }
  }
}