.side-menu {
  max-width: 240px;
  height: calc(100vh - 64px);
  min-width: 240px;

  .project-right-menu {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 4px;

    .list-title {
      width: 100%;
      height: 20px;
      background: white;
    }
  }
}

.content-container {
  align-content: flex-start;
  height: calc(100vh - 64px);
  overflow: scroll;
  

  .category {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
  }

  .content-top-menu {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 2px 12px;
    .project-title {
      width: fit-content;
      height: 100%;
      line-height: 60px;
      font-size: 20px;
    }
  }

  .content {
    width: 100%;
    height: 260px;
    // white-space: nowrap;
    // overflow: hidden;
  }
}

.comment-menu {
  width: 500px;
  height: 100vh;
  margin-left: 4px;
  display: none;

  .comment-title {
    width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
