.container {
  background-image: url(https://user-images.githubusercontent.com/38517815/63739791-86610e00-c8c9-11e9-87a2-71d028f7a81b.jpg);
  background-size: cover;
  .title-layout {
    padding: 100px;
    margin-top: 100px;
  }
}
